body {
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

img {
    max-width: 70%; /* Ensures images donâ€™t overflow */
    height: auto;
    width: auto;
}

.socials-icon {
    display: inline-block;
    height: 1em;
    width: auto;
    max-width: none;
    vertical-align: -0.15em;
    margin-left: 0.2em;
}

.button {
    justify-content: center;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(102, 255, 220, 0.3);
    color: rgb(0, 0, 5);
    cursor: pointer;
}

#submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button {
    justify-content: center;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.3);
    color: rgb(0, 0, 5);
}
            
html {
    background-color: #FBEEC8;
    background-image: url("owl.png");
}

#list {
    text-align: left;
    margin-left: 10px;
    margin-right: 20px;
}

ol {
    margin-top: 0;
    padding-top: 0;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #9FDDF9;
    cursor: pointer; 
}

label {
    cursor: pointer;
}

h1 {
    font-size: 300%;
    font-weight: bold;
    color: red;
    padding: 0px;
    margin: 0px;
}

@media (max-width: 768px) {
    img {
        max-width: 100%; /* Ensures images donâ€™t overflow */
    }

    .socials-icon {
        max-width: none;
    }

    .container {
        padding: 5px;
    }

    .button {
        font-size: 0.9em;
        padding: 16px 16px;
    }
}
